/*Vesion Mobile*/
/*Header*/
@media only screen and (max-width: 576px) {
  .banner {
    background-image: url(../img/fondoMobile.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .container-fluid {
    margin: 0 15px;
  }
  .container {
    flex-direction: column;
    .introduction {
      width: 100%;
    }
    .networks {
      &__list {
        flex-direction: row;
        padding-left: 0;
      }
    }
  }

  /*Footer Mobile*/
  .footer {
    &__banner {
      flex-direction: column;
      padding-bottom: 20px;
      iframe {
        width: 100%;
      }
    }
    &__networks {
      padding-right: 0;
      &-list {
        flex-direction: row;
        padding-left: 0;
      }
    }
  }

  /*Main-index*/
  .main-index {
    .experience-card {
      flex-direction: column;
      &__title {
        text-align: center;
      }
      &__img {
        width: 200px;
        height: 200px;
      }
    }
    &__carousel {
      padding: 20px 30px;
    }
    .carousel {
      &-inner {
        height: 350px;
      }
      &-item {
        height: 350px;
      }
    }
  }
  /*Main adoptar*/
  .pets-cards {
    flex-direction: column-reverse;
    &__adoption {
      @include display-flex(flex, center);
    }
  }
  .filter-form {
    input {
      width: 30px;
      height: 20px;
    }
  }
  .section-filter {
    @include display-flex(flex, center);
  }
  /*Main-donar*/
  .main-donar {
    &__description {
      img {
        width: 100px;
        height: 200px;
      }
    }
    &__text {
      font-size: 16px;
    }
  }
  .donate-form {
    width: 100%;
    &__img {
      width: 100%;
    }
  }
  .form-donar {
    &__items {
      select {
        padding: 10px 20px;
      }
    }
    &__button {
      margin-top: 30px;
    }
  }
  /*main-mascotasPerdidas*/
  .main-mascotasPerdidas {
    &__text {
      width: 300px;
      margin: auto;
    }
  }
  /*Main-contacto*/
  .main-contacto {
    &__container {
      padding: 20px 5px;
      gap: 10px;
    }
    .contact-form {
      width: 100%;
      &__data {
        grid-template-columns: 1fr;
      }

      &--item {
        grid-column: 1 / span 1;
      }
    }
  }
}
