/*Header*/
.banner {
    background-image: url(../img/fondo16.jpg);
    //background-color: #6FEDD6;
    height: 470px;
    .logo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        &:hover {
            transform: scale(1.2);
            transition: transform 0.3s;
          }
        }
        /*.container-fluid{
          background-color: black;
        }*/
        .navbar-toggler {
          background-color: gray;
        }
        .navbar-collapse {
          justify-content: end;
          font-weight: 40px;
        }
        .navbar-nav {
          //background-color: rgba(255, 255, 255, 0.5);
          //background-color: rgba(248,196,95,255);
          background-color: black;
          padding: 0 15px;
          border-radius: 12px;
        }
        .nav-link{
          color: gray;;
          font-size: 1.5rem;
          font-weight: 700;
          margin: 0 0.2em;
          &:hover{
            //background-color: #a8aa92;
            background-color: #dd9e40;
            transition: .8s;
            color: black;
          
          }
        }
    .introduction,
      h1,
      p {
        padding: 10px;
        margin: 0;
        line-height: 1.3;
      }
    .introduction {
        background-color: $bg-color__introduction;
        width: 500px;
        padding: 10px 10px;
        margin-left: 110px;
        border-radius: 20px;
        color: nth(colores, 1 );
        font-size: nth($font_size , 2);
        font-weight: 800;
        &__title {
            color: #dd9e40;
            text-align: center;
            font-weight: bold;
            font-size: 2em;
          }
      }
      
      
  }
  
  