/*Main-index*/
.root {
  background-color: $bg;
}
.main-index {
  color: $color-text;
  padding-bottom: 25px;
  border-top: 2px solid $color-bordes;
  border-bottom: 2px solid $color-bordes;
  width: 90%;
  margin: 40px auto;
  &__carousel {
    background-color: $color-primary;
    margin-top: 20px;
    padding: 30px 80px;
    border-radius: 10px;
    border: 2px solid $color-bordes;
  }
  .carousel-title {
    text-align: center;
    padding: 30px 0;
    font-size: $font-subtitulos;
    font-weight: 700;
    text-transform: uppercase;
  }
  .carousel slide {
    width: 100%;
    margin: auto;
  }
  .carousel {
    &-inner {
      height: 500px;
      border-radius: 10px;
    }
    &-item {
      height: 500px;
    }
    &-indicators {
      button {
        background-color: #3e2723;
      }
    }
  }
  .carousel-control-prev-icon {
    background-image: url(../img/prev.svg);
    width: 50px;
    height: 50px;
  }
  .carousel-control-next-icon {
    background-image: url(../img/next.svg);
    width: 50px;
    height: 50px;
  }
  &__title,
  &__text {
    text-align: center;
    font-size: $font-subtitulos;
    font-weight: 700;
    padding: 40px 0;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .experiences {
    @include display-flex(flex, space-evenly);
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    .experience-card {
      @include display-flex(flex, space-evenly);
      align-items: center;
      gap: 30px;
      padding: 30px 20px;
      width: 560px;
      height: auto;
      border: 2px solid $color-bordes;
      background-color: $color-primary;
      margin-bottom: 20px;
      border-radius: 10px;
      &__img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      &__title {
        font-size: $font-titulos;
        font-weight: 700;
        padding-bottom: 20px;
      }
      &__text {
        width: 300px;
        font-size: $font-texto;
        font-weight: 400;
        color: $color-text;
      }
    }
  }
}
