/*Main - mascotas perdidas*/
.main-mascotasPerdidas {
  color: $color-text;
  &__text {
    @include main-text;
  }
}
.lost-pets-cards {
  @include display-flex(flex, center);
  flex-wrap: wrap;
  gap: 5px;
}
