//background
$bg-nav-inputs: #CEAB93;
$bg: #FFFBE9;
$bg-btn: #AD8B73;
//Colore primario
$color-primary: #E3CAA5;
//color del texto
$color-text: #3E2723;
//color de bordes
$color-bordes: #AD8B73;
//fon size
$font-texto: 16px;
$font-titulos: 20px;
$font-subtitulos: 18px;



